<ion-content [fullscreen]="true">
    <ion-grid>
      <ion-col>
        <ion-row>
          <ion-item>
            <ion-label position="floating">Introduzca su nombre</ion-label>
            <ion-input [(ngModel)]="person.name"></ion-input> 
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label position="floating">Introduzca su apellido</ion-label>
            <ion-input [(ngModel)]="person.surname"></ion-input> 
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label position="floating">Introduzca su edad</ion-label>
            <ion-input type="number" [(ngModel)]="person.age"></ion-input>
          </ion-item>
        </ion-row>
      </ion-col>
    </ion-grid>
  
    <ion-button (click)="addPerson()">Añadir</ion-button> 
  </ion-content>